+productSlider

.banner-slider.swiper-container
    .swiper-wrapper
        .swiper-slide 
            ul.banner-slider__list
                li 
                    .banner-slider__payment
                        p Оплата наличными курьеру и по карте:
                        img(src="img/banks.png" alt="Оплата наличными курьеру и по карте:")
                        p + онлайн оплата на сайте
                li 
                    .banner-slider__title Бесплатная доставка осетинских пирогов в Москве
                    a(href="#").banner-slider__link Заказать осетинские пироги
                li
                    .banner-slider__action 
                        p Акция!
                        span пирог в подарок
        .swiper-slide 
            ul.banner-slider__list
                li 
                    .banner-slider__payment
                        p Оплата наличными курьеру и по карте:
                        img(src="img/banks.png" alt="Оплата наличными курьеру и по карте:")
                        p + онлайн оплата на сайте
                li 
                    .banner-slider__title Бесплатная доставка осетинских пирогов в Москве
                    a(href="#").banner-slider__link Заказать осетинские пироги
                li
                    .banner-slider__action 
                        p Акция!
                        span пирог в подарок

        .swiper-slide 
            ul.banner-slider__list
                li 
                    .banner-slider__payment
                        p Оплата наличными курьеру и по карте:
                        img(src="img/banks.png" alt="Оплата наличными курьеру и по карте:")
                        p + онлайн оплата на сайте
                li 
                    .banner-slider__title Бесплатная доставка осетинских пирогов в Москве
                    a(href="#").banner-slider__link Заказать осетинские пироги
                li
                    .banner-slider__action 
                        p Акция!
                        span пирог в подарок

    .swiper-pagination

    .swiper-button-next
    .swiper-button-prev

.conatiner 
    h1.main-title Осетинские пироги с мясом

    ul.products 
        li 
            .products__img 
                img(src="img/pie-1.jpg")

            .products__title Осетинский пирог с мясом - «Фыдджин»

            ul.checklist
                li 
                    label(for="pr-1") 800 г
                    input(type="radio" name="pr-1")#pr-1
                    .checklist__price 650 руб.
                li 
                    label(for="pr-2") 1000 г
                    input(type="radio" name="pr-1")#pr-2
                    .checklist__price 700 руб.
                li 
                    label(for="pr-3") 1200 г
                    input(type="radio" name="pr-1")#pr-3
                    .checklist__price 750 руб.
                li 
                    label(for="pr-4") 1400 г
                    input(type="radio" name="pr-1")#pr-4
                    .checklist__price 820 руб.

            .products__bottom
                .switch-price
                    span.switch-minus -
                    input(type="text" value="1" disabled="disabled").quantity 
                    span.switch-plus +

                button(type="button").products__order
                    img(src="img/cart.png" width="30" height="30")
                    span В корзину

        li 
            .products__img 
                img(src="img/pie-2.jpg")

            .products__title Осетинский пирог с мясом - «Фыдджин»

            ul.checklist
                li 
                    label(for="pr-5") 800 г
                    input(type="radio" name="pr-2")#pr-5
                    .checklist__price 650 руб.
                li 
                    label(for="pr-6") 1000 г
                    input(type="radio" name="pr-2")#pr-6
                    .checklist__price 700 руб.
                li 
                    label(for="pr-7") 1200 г
                    input(type="radio" name="pr-2")#pr-7
                    .checklist__price 750 руб.
                li 
                    label(for="pr-8") 1400 г
                    input(type="radio" name="pr-2")#pr-8
                    .checklist__price 820 руб.

            .products__bottom
                .switch-price
                    span.switch-minus -
                    input(type="text" value="1" disabled="disabled").quantity 
                    span.switch-plus +

                button(type="button").products__order
                    img(src="img/cart.png" width="30" height="30")
                    span В корзину

        li 
            .products__img 
                img(src="img/pie-3.jpg")

            .products__title Осетинский пирог с мясом - «Фыдджин»

            ul.checklist
                li 
                    label(for="pr-9") 800 г
                    input(type="radio" name="pr-3")#pr-9
                    .checklist__price 650 руб.
                li 
                    label(for="pr-10") 1000 г
                    input(type="radio" name="pr-3")#pr-10
                    .checklist__price 700 руб.
                li 
                    label(for="pr-11") 1200 г
                    input(type="radio" name="pr-3")#pr-11
                    .checklist__price 750 руб.
                li 
                    label(for="pr-12") 1400 г
                    input(type="radio" name="pr-3")#pr-12
                    .checklist__price 820 руб.

            .products__bottom
                .switch-price
                    span.switch-minus -
                    input(type="text" value="1" disabled="disabled").quantity 
                    span.switch-plus +

                button(type="button").products__order
                    img(src="img/cart.png" width="30" height="30")
                    span В корзину

        li 
            .products__img 
                img(src="img/pie-4.jpg")

            .products__title Осетинский пирог с мясом - «Фыдджин»

            ul.checklist
                li 
                    label(for="pr-13") 800 г
                    input(type="radio" name="pr-4")#pr-13
                    .checklist__price 650 руб.
                li 
                    label(for="pr-14") 1000 г
                    input(type="radio" name="pr-4")#pr-14
                    .checklist__price 700 руб.
                li 
                    label(for="pr-15") 1200 г
                    input(type="radio" name="pr-4")#pr-15
                    .checklist__price 750 руб.
                li 
                    label(for="pr-16") 1400 г
                    input(type="radio" name="pr-4")#pr-16
                    .checklist__price 820 руб.

            .products__bottom
                .switch-price
                    span.switch-minus -
                    input(type="text" value="1" disabled="disabled").quantity 
                    span.switch-plus +

                button(type="button").products__order
                    img(src="img/cart.png" width="30" height="30")
                    span В корзину

        li 
            .products__img 
                img(src="img/pie-5.jpg")

            .products__title Осетинский пирог с мясом - «Фыдджин»

            ul.checklist
                li 
                    label(for="pr-17") 800 г
                    input(type="radio" name="pr-5")#pr-17
                    .checklist__price 650 руб.
                li 
                    label(for="pr-18") 1000 г
                    input(type="radio" name="pr-5")#pr-18
                    .checklist__price 700 руб.
                li 
                    label(for="pr-19") 1200 г
                    input(type="radio" name="pr-5")#pr-19
                    .checklist__price 750 руб.
                li 
                    label(for="pr-20") 1400 г
                    input(type="radio" name="pr-5")#pr-20
                    .checklist__price 820 руб.

            .products__bottom
                .switch-price
                    span.switch-minus -
                    input(type="text" value="1" disabled="disabled").quantity 
                    span.switch-plus +

                button(type="button").products__order
                    img(src="img/cart.png" width="30" height="30")
                    span В корзину

        li 
            .products__img 
                img(src="img/pie-6.jpg")

            .products__title Осетинский пирог с мясом - «Фыдджин»

            ul.checklist
                li 
                    label(for="pr-21") 800 г
                    input(type="radio" name="pr-6")#pr-21
                    .checklist__price 650 руб.
                li 
                    label(for="pr-22") 1000 г
                    input(type="radio" name="pr-6")#pr-22
                    .checklist__price 700 руб.
                li 
                    label(for="pr-23") 1200 г
                    input(type="radio" name="pr-6")#pr-23
                    .checklist__price 750 руб.
                li 
                    label(for="pr-24") 1400 г
                    input(type="radio" name="pr-6")#pr-24
                    .checklist__price 820 руб.

            .products__bottom
                .switch-price
                    span.switch-minus -
                    input(type="text" value="1" disabled="disabled").quantity 
                    span.switch-plus +

                button(type="button").products__order
                    img(src="img/cart.png" width="30" height="30")
                    span В корзину

        li 
            .products__img 
                img(src="img/pie-7.jpg")

            .products__title Осетинский пирог с мясом - «Фыдджин»

            ul.checklist
                li 
                    label(for="pr-25") 800 г
                    input(type="radio" name="pr-7")#pr-25
                    .checklist__price 650 руб.
                li 
                    label(for="pr-26") 1000 г
                    input(type="radio" name="pr-7")#pr-26
                    .checklist__price 700 руб.
                li 
                    label(for="pr-27") 1200 г
                    input(type="radio" name="pr-7")#pr-27
                    .checklist__price 750 руб.
                li 
                    label(for="pr-28") 1400 г
                    input(type="radio" name="pr-7")#pr-28
                    .checklist__price 820 руб.

            .products__bottom
                .switch-price
                    span.switch-minus -
                    input(type="text" value="1" disabled="disabled").quantity 
                    span.switch-plus +

                button(type="button").products__order
                    img(src="img/cart.png" width="30" height="30")
                    span В корзину

        li 
            .products__img 
                img(src="img/pie-8.jpg")

            .products__title Осетинский пирог с мясом - «Фыдджин»

            ul.checklist
                li 
                    label(for="pr-29") 800 г
                    input(type="radio" name="pr-8")#pr-29
                    .checklist__price 650 руб.
                li 
                    label(for="pr-30") 1000 г
                    input(type="radio" name="pr-8")#pr-30
                    .checklist__price 700 руб.
                li 
                    label(for="pr-31") 1200 г
                    input(type="radio" name="pr-8")#pr-31
                    .checklist__price 750 руб.
                li 
                    label(for="pr-32") 1400 г
                    input(type="radio" name="pr-8")#pr-32
                    .checklist__price 820 руб.

            .products__bottom
                .switch-price
                    span.switch-minus -
                    input(type="text" value="1" disabled="disabled").quantity 
                    span.switch-plus +

                button(type="button").products__order
                    img(src="img/cart.png" width="30" height="30")
                    span В корзину



