mixin icon(name,mod)
	- mod = mod || ''
	svg(class="icon icon-" + name + ' ' + mod)
		use(xlink:href="/img/svg/sprite.svg#" + name)

mixin productSlider
	.product-gallery.swiper-container
		.swiper-wrapper
			.swiper-slide 
				a(href="#")
					.product-gallery__title С мясом (12)

					.product-gallery__img
						img(src="img/sl-1.png")

					.stars 
						ul.stars__list
							li 
								img(src="img/star.png")
							li
								img(src="img/star.png")
							li 
								img(src="img/star.png")
							li 
								img(src="img/star.png")
							li 
								img(src="img/grey-star.png")

						.stars__rayting 4,2   

					.product-gallery__price от 750 руб.

			.swiper-slide 
				a(href="#")
					.product-gallery__title С курицей (8)

					.product-gallery__img
						img(src="img/sl-2.png")

					.stars 
						ul.stars__list
							li 
								img(src="img/star.png")
							li
								img(src="img/star.png")
							li 
								img(src="img/star.png")
							li 
								img(src="img/star.png")
							li 
								img(src="img/grey-star.png")

						.stars__rayting 4,8   

					.product-gallery__price от 600 руб.

			.swiper-slide 
				a(href="#")
					.product-gallery__title С капустой (5)

					.product-gallery__img
						img(src="img/sl-3.png")

					.stars 
						ul.stars__list
							li 
								img(src="img/star.png")
							li
								img(src="img/star.png")
							li 
								img(src="img/star.png")
							li 
								img(src="img/grey-star.png")
							li 
								img(src="img/grey-star.png")

						.stars__rayting 3,8   

					.product-gallery__price от 620 руб.

			.swiper-slide 
				a(href="#")
					.product-gallery__title С сыром (4)

					.product-gallery__img
						img(src="img/sl-4.png")

					.stars 
						ul.stars__list
							li 
								img(src="img/star.png")
							li
								img(src="img/star.png")
							li 
								img(src="img/star.png")
							li 
								img(src="img/grey-star.png")
							li 
								img(src="img/grey-star.png")

						.stars__rayting 3,1   

					.product-gallery__price от 500 руб.

			.swiper-slide 
				a(href="#")
					.product-gallery__title С рыбой (5)

					.product-gallery__img
						img(src="img/sl-5.png")

					.stars 
						ul.stars__list
							li 
								img(src="img/star.png")
							li
								img(src="img/star.png")
							li 
								img(src="img/star.png")
							li 
								img(src="img/star.png")
							li 
								img(src="img/grey-star.png")

						.stars__rayting 4,8   

					.product-gallery__price от 410 руб.

			.swiper-slide 
				a(href="#")
					.product-gallery__title С грибами (3)

					.product-gallery__img
						img(src="img/sl-6.png")

					.stars 
						ul.stars__list
							li 
								img(src="img/star.png")
							li
								img(src="img/star.png")
							li 
								img(src="img/star.png")
							li 
								img(src="img/star.png")
							li 
								img(src="img/grey-star.png")

						.stars__rayting 4,2   

					.product-gallery__price от 350 руб.

			.swiper-slide 
				a(href="#")
					.product-gallery__title С картошкой (6)

					.product-gallery__img
						img(src="img/sl-7.png")

					.stars 
						ul.stars__list
							li 
								img(src="img/star.png")
							li
								img(src="img/star.png")
							li 
								img(src="img/star.png")
							li 
								img(src="img/grey-star.png")
							li 
								img(src="img/grey-star.png")

						.stars__rayting 3,8   

					.product-gallery__price от 410 руб.

			.swiper-slide 
				a(href="#")
					.product-gallery__title С индейкой (3)

					.product-gallery__img
						img(src="img/sl-8.png")

					.stars 
						ul.stars__list
							li 
								img(src="img/star.png")
							li
								img(src="img/star.png")
							li 
								img(src="img/star.png")
							li 
								img(src="img/grey-star.png")
							li 
								img(src="img/grey-star.png")

						.stars__rayting 3,1   

					.product-gallery__price от 510 руб.

			.swiper-slide 
				a(href="#")
					.product-gallery__title С зеленью (7)

					.product-gallery__img
						img(src="img/sl-9.png")

					.stars 
						ul.stars__list
							li 
								img(src="img/star.png")
							li
								img(src="img/star.png")
							li 
								img(src="img/star.png")
							li 
								img(src="img/grey-star.png")
							li 
								img(src="img/grey-star.png")

						.stars__rayting 3,1   

					.product-gallery__price от 210 руб.

			.swiper-slide 
				a(href="#")
					.product-gallery__title С луком (4)

					.product-gallery__img
						img(src="img/sl-10.png")

					.stars 
						ul.stars__list
							li 
								img(src="img/star.png")
							li
								img(src="img/star.png")
							li 
								img(src="img/star.png")
							li 
								img(src="img/grey-star.png")
							li 
								img(src="img/grey-star.png")

						.stars__rayting 3,1   

					.product-gallery__price от 360 руб.

			.swiper-slide 
				a(href="#")
					.product-gallery__title Сладкие (24)

					.product-gallery__img
						img(src="img/sl-11.png")

					.stars 
						ul.stars__list
							li 
								img(src="img/star.png")
							li
								img(src="img/star.png")
							li 
								img(src="img/star.png")
							li 
								img(src="img/star.png")
							li 
								img(src="img/grey-star.png")

						.stars__rayting 4,8   

					.product-gallery__price от 410 руб.

		.swiper-button-next
		.swiper-button-prev
